In [ ]:
#task1
def even_checker(a):
  if a%2==0:
    print("Even!!")
  else:
    print("Odd!!")
even_checker(5)

Odd!!

In [24]:
#task 2
def fibonacci(a):
  first=0
  second=1
  third=0
  while third<=a:
    print (third, end=" ")
    first=second
    second=third
    third=first+third
fibonacci(5)

0 1 1 2 3 5

In [ ]:
#Task-3
def foo_moo(number):
    if number % 2 == 0 and number % 3 == 0:
        return "FooMoo"
    elif number % 2 == 0:
        return "Foo"
    elif number % 3 == 0:
        return "Moo"
    else:
        return "Boo"
num = int(input("Enter a number: "))
result = foo_moo(num)
print(result)

Enter a number: 5
Boo

In [ ]:
#task 4
def function_name(a):
  up=0
  low=0
  for i in a:
    if 97<=ord(i)<=122:
      low+=1
    elif 65<=ord(i)<=90:
      up+=1
  print("No. of Uppercase characters: {}\nNo. of Lowercase Characters: {}".format(up,low))
function_name('HaRRy PotteR')

No. of Uppercase characters: 5
No. of Lowercase Characters: 6

In [ ]:
#task 5

a=int(input("Please enter Age: "))
b=int(input("please enter Salary: "))
work=input("please enter Current Job:").lower()
def calculate_tax(age,salary,job):
  if age<18 or job=="president" or salary<10000:
    tax=0
  elif salary>=10000 and salary<=20000:
    tax=salary*.05
  elif salary>20000:
    tax=salary*.1  
  return(tax)
print(calculate_tax(a,b,work))

Please enter Age: 20
please enter Salary: 22000
please enter Current Job:assistant manager
2200.0

In [ ]:
#task 6
def function_name(days):
  year=days//365
  month=(days%365)//30
  day= (days%365)%30
  print(f"{year} years, {month} months and {day} days")
function_name(int(input()))

4330
11 years, 10 months and 15 days

In [ ]:
#task 7
t=int(input())
def show_palindrome(a):
  z=""
  for i in range (1,a):
    z+=str(i)
  for i in range (a,0,-1):
    z+=str(i)
  return(int(z))
show_palindrome(t)

5

123454321

In [ ]:
#task 8
def show_palindrome(a):
  z=""
  for i in range (1,a):
    z+=str(i)+" "
  for i in range (a,0,-1):
    z+=str(i)+" "
  return(z)
x=int(input())
z=x
y=""
for i in range(1,x+1):
    y=""
    for spc in range((x-i)*2):
        y+=" "
    y+=show_palindrome(i)
    print(y)

5
        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [12]:
#task 9
import math
a=float(input())
def area_circumference_generator(num):
  circum=2*math.pi*num
  area=math.pi*(num**2)
  return area,circum
output=area_circumference_generator(a)
print(output)
print(f"Area of the circle is {output[0]} and circumference is {output[1]}")

1
(3.141592653589793, 6.283185307179586)
Area of the circle is 3.141592653589793 and circumference is 6.283185307179586

In [16]:
#task 10
def make_square(P):
  a,b=P
  adict={}
  for i in range(a,b+1):
    adict[i]=i**2
  return adict
print(make_square((1,3)))

{1: 1, 2: 4, 3: 9}

In [17]:
#11

def rem_duplicate(s):
  lst=[]
  for i in s:
    if i not in lst:
      lst.append(i)
  return lst
print(tuple(rem_duplicate(("Hi", 1, 2, 3, 3, "Hi",'a', 'a', [1,2]))))

('Hi', 1, 2, 3, 'a', [1, 2])

In [ ]:
#Task-12
def function_name(a):
  lst=[]
  for i in a:
    if lst.count(i)<2:
      lst.append(i)
  rvm=len(a)-len(lst)
  print(f"Removed: {rvm}")
  return(lst)
print(function_name(([1, 2, 3, 3, 3, 3, 4, 5, 8, 8])))

In [18]:
#Task-13
def function_name(operator, operand1, operand2):
    if operator == '+':
        result = operand1 + operand2
    elif operator == '-':
        result = operand1 - operand2
    elif operator == '*':
        result = operand1 * operand2
    elif operator == '/':
        if operand2 == 0:
            print("Error: division by zero")
            return None
        result = operand1 / operand2
    else:
        print("Error: invalid operator")
        return None
    return result
operator = input("Enter operator (+, -, *, /): ")
operand1 = float(input("Enter first operand: "))
operand2 = float(input("Enter second operand: "))
result = function_name(operator, operand1, operand2)
if result is not None:
    print("Result:", result)

Enter operator (+, -, *, /): +
Enter first operand: 10
Enter second operand: 20
Result: 30.0

In [22]:
#14

sentence=input()
position=int(input())

def function_name(a,b):
  out=a[0]
  for i in range(1,len(a)):
    if i%b!=0:
      out+=a[i]
  for j in range(1,len(a)):
    if j%b==0:
      out+=a[j]
  return out
print(function_name(sentence,position))

Python is easy to learn. I love python.
6
Pythonis eay to earn.I lov pythn. sl eo

In [23]:
#task 15

a=input().split(",")
def food (a,b):
  adict={"Rice":105,"Potato":20, "Chicken": 250, "Beef": 510, "Oil":85}
  sum=0
  for i in a:
    sum+=adict[i]
  if b=="Dhanmondi":
    sum+=30
  else:
    sum+=70
  return(sum)
print(food(a, "Mohakhali"))

Rice,Beef,Rice
790