In [ ]:
#task 1
class BankAccount:
  def __init__(self,name,save):
    self.user_name=name
    self.account_type=save
    self.balance=0

account1 = BankAccount("Bilbo", "Savings")
print("=====================================")
print(f"User Name: {account1.user_name}")
print(f"Balance: {account1.balance}")
print(f"Account Type:", account1.account_type)
print("=====================================")
account2 = BankAccount("Frodo", "Business")
print(f"User Name: {account2.user_name}")
print(f"Balance: {account2.balance}")
print(f"Account Type: {account2.account_type}")
print("=====================================")
account1.balance=15.75
account2.balance=700.5
print(f"new Balance of is {account1.user_name}: {account1.balance}")
print(f"new Balance of is {account2.user_name}: {account2.balance}")

=====================================
User Name: Bilbo
Balance: 0
Account Type: Savings
=====================================
User Name: Frodo
Balance: 0
Account Type: Business
=====================================
new Balance of is Bilbo: 15.75
new Balance of is Frodo: 700.5

In [ ]:
#task 2
class MangoTree:
  def __init__(self,typ):
    self.variety = typ
    self.height= 1
    self.number_of_mangoes=0

mangoTree1= MangoTree("Gopalbhog")
# Display the details of the mango tree
print("=====================================")
print("Mango Tree Details:")
print(f"Variety: {mangoTree1.variety}")
print(f"Height: {mangoTree1.height} meter(s)")
print(f"Number of mangoes on the tree: {mangoTree1.number_of_mangoes}")
print("=====================================")
mangoTree2= MangoTree("Amrapali")
# Display the details of the mango tree
print("Mango Tree Details:")
print(f"Variety: {mangoTree2.variety}")
print(f"Height: {mangoTree2.height} meter(s)")
print(f"Number of mangoes on the tree: {mangoTree2.number_of_mangoes}")
print("=====================================")
print("Updated details after 5 years:")
year=5
mangoTree1.height+=year*3
mangoTree2.height+=year*3
mangoTree1.number_of_mangoes=mangoTree1.height*10
mangoTree2.number_of_mangoes=mangoTree2.height*15
print("=====================================")
print("Mango Tree Details:")
print(f"Variety: {mangoTree1.variety}")
print(f"Height: {mangoTree1.height} meter(s)")
print(f"Number of mangoes on the tree: {mangoTree1.number_of_mangoes}")
print("=====================================")

# Display the details of the mango tree
print("Mango Tree Details:")
print(f"Variety: {mangoTree2.variety}")
print(f"Height: {mangoTree2.height} meter(s)")
print(f"Number of mangoes on the tree: {mangoTree2.number_of_mangoes}")
print("=====================================")

=====================================
Mango Tree Details:
Variety: Gopalbhog
Height: 1 meter(s)
Number of mangoes on the tree: 0
=====================================
Mango Tree Details:
Variety: Amrapali
Height: 1 meter(s)
Number of mangoes on the tree: 0
=====================================
Updated details after 5 years:
=====================================
Mango Tree Details:
Variety: Gopalbhog
Height: 16 meter(s)
Number of mangoes on the tree: 160
=====================================
Mango Tree Details:
Variety: Amrapali
Height: 16 meter(s)
Number of mangoes on the tree: 240
=====================================

In [ ]:
#task 3
class Contacts:
  def __init__(self,name,num):
    self.names=name
    self.numbers=num
    self.contactDict={}
    if len(self.names)==len(self.numbers):
       for i in range(0,len(self.names)):

           self.contactDict[names[i]]=self.numbers[i]
       print("Contacts saved successfully.")

    else:
      print("Contacts cannot be saved. Length Mismatch!")

names = ["Emergency", "Father", "Bestie"]
numbers = ["999", "01xx23", "01xx87", "01xx65", "01xx43"]

m1 = Contacts(names, numbers)
print("Saved Contacts:", m1.contactDict)
print("---------------------------------------------")

names.append("Mother")
numbers.pop()

m2 = Contacts(names, numbers)
print("Saved Contacts:", m2.contactDict)
print()
print("after appending mother and removing the last number, if we write the following line:m1 = Contacts(names, numbers)the contacts will be saved")

Contacts cannot be saved. Length Mismatch!
Saved Contacts: {}
---------------------------------------------
Contacts saved successfully.
Saved Contacts: {'Emergency': '999', 'Father': '01xx23', 'Bestie': '01xx87', 'Mother': '01xx65'}

after appending mother and removing the last number, if we write the following line:m1 = Contacts(names, numbers)the contacts will be saved

In [ ]:
#task 4
class Student:
  def __init__(self,name,cgpa,courses_taken):
    self.name=name
    self.cgpa=cgpa
    self.courses_taken=courses_taken
    if self.cgpa<2.00:
      self.student_status="Probation"
      if 1<self.courses_taken<=2:
        print(f"Study hard this time {self.name}.")
        self.advising_status="Approve"
      else:
        print(f"Sorry, {self.name}, you are on probation and cannot take more than 2 courses.")
        self.advising_status="Denied"
        self.courses_taken=0
    elif self.cgpa>=2.00:
      self.student_status="Regular"
      if 3<=self.courses_taken<=5:
        print(f"All the best, {self.name}, for upcomming semester.")
        self.advising_status="Approve"
      else:
        print(f"Hello {self.name}, You are a regular student and have to take between 3 to 5 courses.")
        self.advising_status="Denied"
        self.courses_taken=0

s1 = Student("Clark", 3.45, 4)
print(f"Name: {s1.name}\nCGPA: {s1.cgpa}\nCourses Taken: {s1.courses_taken}")
print(f"Student Status: {s1.student_status}\nAdvising Status: {s1.advising_status}")
print("--------------------------------------------------------------------------------")
s2 = Student("Barry", 1.93, 2)
print(f"Name: {s2.name}")
print(f"Student Status: {s2.student_status}\nAdvising Status: {s2.advising_status}")
print("--------------------------------------------------------------------------------")
s3 = Student("Diana", 2.91, 2)
print(f"Advising Status: {s3.advising_status}\nCourses Taken: {s3.courses_taken}")
print("--------------------------------------------------------------------------------")
s4 = Student("Bruce", 1.52, 5)
print(f"Advising Status: {s4.advising_status}\nCourses Taken: {s4.courses_taken}")

All the best, Clark, for upcomming semester.
Name: Clark
CGPA: 3.45
Courses Taken: 4
Student Status: Regular
Advising Status: Approve
--------------------------------------------------------------------------------
Study hard this time Barry.
Name: Barry
Student Status: Probation
Advising Status: Approve
--------------------------------------------------------------------------------
Hello Diana, You are a regular student and have to take between 3 to 5 courses.
Advising Status: Denied
Courses Taken: 0
--------------------------------------------------------------------------------
Sorry, Bruce, you are on probation and cannot take more than 2 courses.
Advising Status: Denied
Courses Taken: 0

In [ ]:
#task5
import datetime
class Book:
  def __init__(self,name,author,year_of_publication):
    print("Checking the book.")
    self.author=author
    self.name=name
    self.year_of_publication=year_of_publication
    today=datetime.date.today()
    year=today.year

    if int(year)-(int(self.year_of_publication))<100:
      self.status="This book is Rejected. The book is not antique enough."
    elif 100<=year-self.year_of_publication<200:
      self.status="This book is Accepted. The book is stored on floor: 0."

    elif 200<=year-self.year_of_publication<400:
      self.status="This book is Accepted. The book is stored on floor: 1."

    elif year-self.year_of_publication>=400:
      self.status="This book is Accepted. The book is stored on floor: 2."


book1= Book('The Act', 'Ferguson', 1924)
print(f"{book1.author} wrote the book '{book1.name}'.")
print(f"This book was published in {book1.year_of_publication}.")
print(f"This book is {book1.status}")
print("-------------------------------------")
book2= Book('Flame', 'Nolan', 1932)
print(f"{book2.author} wrote the book '{book2.name}'.")
print(f"This book was published in {book2.year_of_publication}.")
print(f"This book is {book2.status}")
print("-------------------------------------")
book3= Book('Norms', 'Alfred', 1832)
print(f"{book3.author} wrote the book '{book3.name}'.")
print(f"This book was published in {book3.year_of_publication}.")
print(f"This book is {book3.status}")
print("-------------------------------------")
book4= Book('Apex', 'Samson', 1923)
print(f"{book4.author} wrote the book '{book4.name}'.")
print(f"This book was published in {book4.year_of_publication}.")
print(f"This book is {book4.status}")
print("-------------------------------------")
book5= Book('Habitat', 'Eden', 1723)
print(f"{book5.author} wrote the book '{book5.name}'.")
print(f"This book was published in {book5.year_of_publication}.")
print(f"This book is {book5.status}")
print("-------------------------------------")
book6= Book('Apocalypto', 'Menez', 1603)
print(f"{book6.author} wrote the book '{book6.name}'.")
print(f"This book was published in {book6.year_of_publication}.")
print(f"This book is {book6.status}")

Checking the book.
Ferguson wrote the book 'The Act'.
This book was published in 1924.
This book is This book is Rejected. The book is not antique enough.
-------------------------------------
Checking the book.
Nolan wrote the book 'Flame'.
This book was published in 1932.
This book is This book is Rejected. The book is not antique enough.
-------------------------------------
Checking the book.
Alfred wrote the book 'Norms'.
This book was published in 1832.
This book is This book is Accepted. The book is stored on floor: 0.
-------------------------------------
Checking the book.
Samson wrote the book 'Apex'.
This book was published in 1923.
This book is This book is Accepted. The book is stored on floor: 0.
-------------------------------------
Checking the book.
Eden wrote the book 'Habitat'.
This book was published in 1723.
This book is This book is Accepted. The book is stored on floor: 1.
-------------------------------------
Checking the book.
Menez wrote the book 'Apocalypto'.
This book was published in 1603.
This book is This book is Accepted. The book is stored on floor: 2.

In [1]:
import datetime
today=datetime.date.today()
year=today.year
print(year)

2023